.detailSection{
  background-image: linear-gradient(360deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 30%, rgba(57, 57, 57, 0.9) 100%), url("../../assets/JL.jpg");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  color: #E4DCCF;
}
.breadCrumbs{
  display: flex;
  justify-content: first baseline;
  align-items: center;
  gap: 8px;
  padding: 0 0rem 1rem 3rem;
}
.breadCrumbsContent{
  font-size: 18px;
  font-weight: 550;

}
.detailContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 50px;
}
.imageMovie{
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentContainer{
  width: 500px;
}
.buttonPage{
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: transparent;
  background-size: 400%;
  border: none;
  cursor: pointer;
}
.buttonPage:hover::before{
  transform: scaleX(1);
}
.buttonPageContent{
  position: relative;
  z-index: 1;
  color: wheat;
  font-weight: 700;
  
}
.buttonPage::before{
content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(82.3deg,
      #DBA506 10.8%,
      #F2DB83 94.3%);
  transition: all 0.475s;
}