@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.headerContainer{
}
.navHeader{
  display: flex;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.imgLogo{
  width: 50px;
  height: 50px;
}
nav{
  display: flex;
  margin: 0;
}
ul{
  text-align: right;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 50px;
    text-decoration: none;
    align-items: center;
}
li{
  text-decoration: none;
  list-style-type: none;
}
a{
  text-decoration: none;
  color: wheat;
  font-size: 1.5em;
}