@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
//mainPage
.mainPage{
  background-image: linear-gradient(360deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, .2) 100%), url("../../assets/Batman.jpg");
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 0 10rem 0rem;
}
.mainPageContainer{
  width: 100%;
  height: auto;
  display: flex;
  gap: 100px;
}
.mainPageContent{
  display: flex;
  flex-direction: column;
  padding: 5rem 0 0 8rem;
}
.tittle{
  color: #E4DCCF;
  font-size: 5em;
  padding: 0;
  margin: 0;
}
.subTittle{
  color: #E4DCCF;
  font-size: 5em;
  padding: 0;
  margin: 0;
}
.paragraf{
  color: whitesmoke;
  width: 600px;
  text-align: justify;
}
//2ndpage
.subMainPage{
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 30%, rgba(57, 57, 57, 0.9) 100%);
  width: 100%;
  height: auto;
  display: flex;
  font-family: 'Poppins', sans-serif;
  color: #E4DCCF;
}
.subMainPageContainer{
width: 100%;
}
.borderPage{
  margin-left: 5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 0, 0, 1) 0%, rgba(243, 0, 0, 0.21684696827949934) 100%);}
.tittlePage{
  margin-left: 5rem;
}
.categoryContainer{
  gap: 50px;
  display: flex;
  padding-left: 5rem;
}
.buttonCat{
  width: 150px;
  height: 50px;
  border-radius: 10px;
  background-color: #454545;
  border: none;
  color: whitesmoke;
  cursor: pointer;
}
.buttonCat:hover{
  background-color: #CF0A0A;
  animation: ease-in-out 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) fill-mode;
}

//thirdPage
.thirdMainPage{
    background-image: linear-gradient(360deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 30%, rgba(57, 57, 57, 0.9) 100%), url("../../assets/JL.jpg");
      width: 100%;
      height: auto;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      font-family: 'Poppins', sans-serif;
      color: #E4DCCF;
}
.thirdPageContainer{
  width: 100%;
}
.tittlePage{
  color: #E4DCCF;
}
.movieList{
  display: flex;
  flex-direction: row;
  gap: 100px;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  flex-wrap: wrap;
}

.newsContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.newsCardContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items:baseline;
  gap: 50px;
}

//footer
.footer{
  background-color:black;
  display: flex;
  color: #E4DCCF;
  font-family: 'Poppins', sans-serif;
}
.footerContainer{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 5rem;
  justify-content: center;
  gap: 20px;
}
.footerContentIndex{
  width: 300px;
}
.footerIndex{
  text-align: center;
}
.footerContentSocial{
  width: 500px;
  height: 400px;
}
.footerOption{
  display: flex;
  gap: 50px;
  width: 100px;
}
.footerOptions{
  width: 200px;
}
.footerContentContact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footerContentIcon{
  display: flex;
  gap: 50px;
}