.movieList {
  display: flex;
  flex-direction: row;
  gap: 100px;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  flex-wrap: wrap;
}

.movieCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardImage {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movieTittle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movieTittleKet {
  padding: 0;
  margin: 0;
  font-size: 0.6em;
  padding-top: 1rem;
  padding-bottom: 1rem; 
}

.movieTittleDur {
  padding: 0;
  margin: 0;
  font-size: 0.6em;
}

@media only screen and (min-width:300px) and (max-width:500px) {
.movieList {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
}
